<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <title>Design Form</title>
</head>

<body>
    <form method="post" th:object="${fighter}">
        <div class="mb-3">
            <label for="FighterName" class="form-label"> Fighter name: </label>
            <input type="text" class="form-control" id="FighterName" aria-describedby="FighterHelp" th:field="*{name}">
        </div>
        <div class="mb-3">
            <label for="damagePerHit" class="form-label"> Damage Per Hit: </label>
            <input type="number" class="form-control" id="damagePerHit" th:field="*{damagePerHit}">
        </div>
        <div class="mb-3">
            <label for="health" class="form-label"> Health: </label>
            <input type="number" class="form-control" id="health" th:field="*{health}">
        </div>
        <div class="mb-3">
            <label for="resistance" class="form-label"> Resistance: </label>
            <input type="number" class="form-control" id="resistance" th:field="*{resistance}" step="0,1">
        </div>
        
        <select class="form-select" aria-label="Anime Selection" th:field="*{animeFrom}">
            <option th:each="anime: ${animes}" th:value="${anime}" th:text="${anime}"></option>
        </select>
        
        <button type="submit" class="btn btn-primary mt-3">Create Fighter</button>
    </form>
    <form method="post" th:action="@{/design/deleteAllFighters}">
        <button sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-danger mt-5">Delete All Fighters </button>
    </form>
</body>

</html>